* {
  font-family:"Raleway", sans-serif;
  color: black; 
  font-weight: 700; 
  margin: 0;
  padding:0;
}

html{ 
  background-color: white; 
}

body {
  background-color: white; 
  margin: 0;
  color: #ddd;
  padding: 20px;
}

div {
  background-color: none; 
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
}

h1, h2, h3, h4 { 
  font-family:"Raleway", sans-serif;
  font-weight: 700; 
  text-transform: uppercase;
}

h1 { 
  font-size: 66px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p { 
  font-family: "Open Sans";
  font-weight: 300;
 }

#tableRows text { 
  font-weight: 300;
  font-family: "Open Sans";
}

/* D3 elements styling */
#map { height: 600px; padding-top: 20px; }
text { fill: black; }
.axis { fill: none; }
.axis text { fill: black; }
.axis path, .axis line { stroke-width: 0; }
.x path, .x line { stroke: black; stroke-width: 1; fill: none;}
.ratio line, .ratio path { stroke: black; stroke-width: 1; fill: none; }
/* Drag styling */

.ratio .halo {
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
}

.domain { 
 stroke: black;
  stroke-width: 2px;
 }

.slider .handle path {
  stroke: black;
  stroke-width: 15px;
  pointer-events: none;
}

.slider .handle text {
  fill: black;
  text-align: center;
  font-size: 18px;
}


.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 100;
  font-size: 12px;
  border-radius: 2px;
}

/* Div element styling */ 


#summary #calculatedRatio, #summary #sliderRatio, #vrhTotSavings, #target-savings, #vrhTotSavings-dollars, #target-savings-dollars{ 
  color: #EE4000;
  font-size: 28px;
}

#routePercents { 
  overflow: visible;
}


#calculations { 
}

#calculations{ 
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

#tableNames { 
  margin-top: 15px;
}

#tableRows { 
  margin-top: 15px;
  height: 580px;
}

.highlighted { 
 color: #EE4000;
}
.padded-title {
  margin: 10px;
}

.lowercase { 
  text-transform: capitalize;
}

path.routes:hover { 
  stroke-width: 3px;
 }

.subtitle { 
  line-height: 1.1;
  color: #EE4000;
 }

a { 
  text-transform: none;
  opacity: .5;
  color: black;

}
a:hover, a:focus, a:active, a.active { 
  text-decoration: none;
  color: #EE4000;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
}


/*These elements are only visible to screen readers*/
.accessible
{ 
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#chart { 
  display: none;
 }

.subtitle-large {
  font-size: 42px;
  color: #EE4000;
  line-height: 1.1
}


